/* secnav styles */
.secnav {
  align-items: center;
  margin-top: 20vh;
  margin-bottom: 20vh;
  width: 25vh;
}

.secnavlink {
  cursor: pointer;
  opacity: .7;
  transition: opacity .15s ease-out;
}

.secnavlink:hover,
.secnavlink:focus {
  font-weight: bold;
  opacity: 1;
  transition: opacity .15s ease-out;
}

/*seccard styles */
.seccard {
  -moz-osx-font-smoothing: grayscale;
  background-size: 100%;
  background-position: center;
  backface-visibility: hidden;
}

.seccard:hover,
.seccard:focus {
  font-weight: bold;
}

.seccard_out {
  background-color: #2187ab;
}

.secdim {
  opacity: 1;
  transition: opacity .15s ease-in;
}
.secdim:hover,
.secdim:focus {
  opacity: .8;
  transition: opacity .15s ease-in;
}
.secdim:active {
  opacity: .9; transition: opacity .15s ease-out;
}
